<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fornecedores</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
    body {
        background-color: rgb(225, 225, 225);
        margin: 0;
    }



    .container {
        /*background-color: white;
        padding: 30px 60px 30px 60px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;*/
        min-width: 92%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-areas:
            "heading heading"
            "div1 div2";
        grid-column-gap: 26px;
    }

    .links {
        grid-area: heading;
        width: 100%;
        margin-bottom: 16px;
        /* Span all columns */
    }

    .forma {
        grid-area: div1;
        /* Span 1 column */
    }

    .tabela {
        grid-area: div2;
        /* Span 3 columns */
    }

    .active {
            font-weight: bold; /*active link */
            color: darkblue;
        }

    @media only screen and (max-width: 1600px) {
        .container {
            /*background-color: white;
        padding: 30px 60px 30px 60px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;*/
            min-width: 100%;
            margin-top: 35px;
            display: flex;
            flex-direction: column;
            padding-inline: 35px;
        }

        .forma {
            margin-top: 33px;
            margin-bottom: 53px;
            order: 2;
        }

        .table-id {
            display: none;
        }

        
    }
</style>

<body>


    <div class="container">

        <span class="links">
            <a href="{{ url_for('fornecedores')}}"  {% if request.path == url_for('fornecedores') %}class="active"{% endif %}>Fornecedores</a> / 
            <a href="{{ url_for('materiasPrimas')}}" {% if request.path == url_for('materiasPrimas') %}class="active"{% endif %}>Materias Primas</a> / 
            <a href="#">Receitas</a> 
        </span>

        <div class="forma" style="background-color: white;
        padding: 20px 25px 20px 25px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;">

            <!-- <p id="screenWidthDisplay">Current screen width will be displayed here.</p> -->

            <h4 style="margin-bottom: 18px;">Cadastrar Fornecedor</h4>
            <form style="width: 100%;" action="/fornecedores" method="post">

                <div class="form-group">
                    <label style="margin-bottom: 1px;" for="nome_fornecedor">Nome Do Fornecedor</label>
                    <input type="text" class="form-control" id="nome_fornecedor" name="nome_fornecedor" required>
                </div>

                <div style="display: grid;
                grid-template-columns: 50% 50%;
                align-items: end;">

                    <div class="form-group" style="width: 90%;">

                        <label style="margin-bottom: 1px;" for="tempo_entrega">Tempo De Entrega (Dias)</label>
                        <input type="number" class="form-control" id="tempo_entrega" name="tempo_entrega" min="0"
                            required>
                    </div>
                    <div class="form-group">
                        <label style="margin-bottom: 1px;" for="prazo_pagamento">Prazo Para Pagar (Dias)</label>
                        <input type="number" class="form-control" id="prazo_pagamento" name="prazo_pagamento" min="0"
                            required>
                    </div>

                </div>
                <div class="form-group">
                    <label style="margin-bottom: 1px;" for="dia_pedido">Dia fixo para realizar o pedido</label>
                    <select class="form-control" id="dia_pedido" name="dia_pedido" required>
                        <option value="Segunda-Feira">Segunda-Feira</option>
                        <option value="Terça-Feira">Terça-Feira</option>
                        <option value="Quarta-Feira">Quarta-Feira</option>
                        <option value="Quinta-Feira">Quinta-Feira</option>
                        <option value="Sexta-Feira">Sexta-Feira</option>
                        <option value="Sábado">Sábado</option>
                        <option value="Domingo">Domingo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label style="margin-bottom: 1px;" for="nome_vendedor">Nome Do Venededor Responsavel:</label>
                    <input type="text" class="form-control" id="nome_vendedor" name="nome_vendedor" required>
                </div>
                <div class="form-group">
                    <label style="margin-bottom: 1px;" for="contato_tel">Contato Telefonico:</label>
                    <input type="text" class="form-control" id="contato_tel" name="contato_tel"
                        onkeypress='validate(event)' required>
                </div>
                <div class="form-group">
                    <label style="margin-bottom: 1px;" for="email_vendedor">E-Mail:</label>
                    <input type="email" class="form-control" id="email_vendedor" name="email_vendedor">
                </div>

                <div style="display: flex; width: 100%; margin-top: 43px;">
                    <button style="width: 100%;" type="submit" class="btn btn-dark">Cadastrar</button>
                </div>

            </form>

        </div>

        <div class="tabla" style="background-color: white;
        padding: 20px 25px 20px 25px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;">
            <h4 style="margin-bottom: 18px;">Fornecedores</h4>


            <div style="display: flex; width: 100%; justify-content: end; margin-bottom: 31px; ">
                <input style="width: 25%; box-sizing: border-box;
              border: none;
              border-bottom: 1px solid rgb(148, 148, 148); margin-right: 14px;" type="text" id="searchInput" onkeyup="searchTable()"
                    placeholder="Procurar Fornecedor...">
            </div>



            <div class="table-responsive">
                <table class="table table-sm table-bordered  table-hover" id="fornecedoresTable">
                    <thead>
                        <tr>
                            <th style="text-align: center; vertical-align: middle; width: 5%;">ID</th>
                            <th style="text-align: center; vertical-align: middle; width: 30%;">Fornecedor</th>
                            <th style="text-align: center; vertical-align: middle; padding: 0px 20px 0px 20px;">Tempo de
                                entrega do produto
                                (em dias)</th>
                            <th style="text-align: center; vertical-align: middle; padding: 0px 20px 0px 20px;">Prazo
                                para
                                pagamento
                                (em dias)</th>
                            <th style="text-align: center; vertical-align: middle; padding: 0px 20px 0px 20px;">Dia Fixo
                                Para Realizar O Pedido</th>
                            <th style="text-align: center; vertical-align: middle;">Nome do(a) Vendedor(a)</th>
                            <th style="text-align: center; vertical-align: middle;">Contato Telefônico</th>
                            <th class="table-id" style="text-align: center; vertical-align: middle;">E-mail</th>

                            <th style="text-align: center; vertical-align: middle;">Açao</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fornecedor in fornecedores %}
                        <tr>
                            <td style="text-align: center; vertical-align: middle;">{{ fornecedor.id_fornecedor }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ fornecedor.nome_fornecedor }}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ fornecedor.tempo_entrega }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ fornecedor.prazo_pagamento}}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ fornecedor.dia_pedido}}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ fornecedor.nome_vendedor}}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ fornecedor.contato_tel}}</td>
                            <td class="table-id" style="text-align: center; vertical-align: middle;">{{
                                fornecedor.email_vendedor}}</td>
                            <td style="text-align: center; vertical-align: middle;">
                                <div
                                    style="display: flex; flex-direction: row; justify-content: center; align-items: center;">

                                    <button type="button" style="margin: 3px; " class="btn btn-outline-secondary btn-sm"
                                        data-toggle="modal" data-target="#editModal{{ fornecedor.id_fornecedor }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                            fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                        </svg>
                                    </button>

                                    <button type="button" style="margin: 3px; " class="btn btn-danger btn-sm"
                                        data-toggle="modal" data-target="#deleteModal{{ fornecedor.id_fornecedor }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                            fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                        </svg>
                                    </button>

                                </div>

                            </td>
                        </tr>

                        <!-- Edit Modal -->
                        <div class="modal fade" id="editModal{{ fornecedor.id_fornecedor }}" role="dialog"
                            aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Atualizar Fornecedor</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('editFornecedor', id=fornecedor.id_fornecedor) }}"
                                            method="post">

                                            <div class="form-group">
                                                <label for="edit-nome_fornecedor">Nome Do Fornecedor:</label>
                                                <input type="text" class="form-control" id="edit-nome_fornecedor"
                                                    name="nome_fornecedor" value="{{ fornecedor.nome_fornecedor }}"
                                                    required>
                                            </div>

                                            <div class="form-group">
                                                <label for="edit-tempo_entrega">Tempo de Entrega:</label>
                                                <input type="number" class="form-control" id="edit-tempo_entrega"
                                                    name="tempo_entrega" value="{{ fornecedor.tempo_entrega }}"
                                                    required>
                                            </div>

                                            <div class="form-group">
                                                <label for="edit-prazo_pagamento">Prazo para pagamento:</label>
                                                <input type="number" class="form-control" id="edit-prazo_pagamento"
                                                    name="prazo_pagamento" value="{{ fornecedor.prazo_pagamento }}"
                                                    required>
                                            </div>

                                            <div class="form-group">
                                                <label for="edit-dia_pedido">Dia Para Realizar Pedido:</label>
                                                <select class="form-control" id="edit-dia_pedido"
                                                    value="{{ fornecedor.dia_pedido }}" name="dia_pedido" required>
                                                    <option value="Segunda-Feira">Segunda-Feira</option>
                                                    <option value="Terça-Feira">Terça-Feira</option>
                                                    <option value="Quarta-Feira">Quarta-Feira</option>
                                                    <option value="Quinta-Feira">Quinta-Feira</option>
                                                    <option value="Sexta-Feira">Sexta-Feira</option>
                                                    <option value="Sábado">Sábado</option>
                                                    <option value="Domingo">Domingo</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="edit-nome_vendedor">Nome Do Vendedor:</label>
                                                <input type="text" class="form-control" id="edit-nome_vendedor"
                                                    name="nome_vendedor" value="{{ fornecedor.nome_vendedor }}"
                                                    required>
                                            </div>

                                            <div class="form-group">
                                                <label for="edit-contato_tel">Contato Telefonico:</label>
                                                <input type="text" class="form-control" id="edit-contato_tel"
                                                    name="contato_tel" value="{{ fornecedor.contato_tel }}"
                                                    onkeypress='validate(event)' required>
                                            </div>

                                            <div class="form-group">
                                                <label for="edit-email_vendedor">Email:</label>
                                                <input type="text" class="form-control" id="edit-email_vendedor"
                                                    name="email_vendedor" value="{{ fornecedor.email_vendedor }}"
                                                    required>
                                            </div>

                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteModal{{ fornecedor.id_fornecedor }}" role="dialog"
                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <span style="display: flex; 
                                        flex-direction: row; 
                                        align-items: center; 
                                        justify-content: center;
                                        margin-left: 5px;">

                                            <svg style="margin-right: 8px;" xmlns="http://www.w3.org/2000/svg"
                                                width="24" height="24" fill="currentColor"
                                                class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                                <path
                                                    d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z" />
                                                <path
                                                    d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
                                            </svg>
                                            <h5 class="modal-title" id="deleteModalLabel">Apagar Fornecedor</h5>

                                        </span>


                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Tem certeza que deseja apagar o fornecedor {{ fornecedor.nome_fornecedor }}?
                                        </p>
                                        <form action="{{ url_for('deleteFornecedor', id=fornecedor.id_fornecedor) }}"
                                            method="post">
                                            <div style="display: flex; width: 100%; justify-content: end;">
                                                <button type="submit" class="btn btn-danger">Apagar</button>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>



                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>




    </div>

    <script>
        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("fornecedoresTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
    </script>



    <!-- Bootstrap JS -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

        /*
        // Get the current screen width
        var screenWidth = window.innerWidth || document.documentElement.clientWidth;

        // Find the <p> tag by its ID
        var screenWidthDisplay = document.getElementById("screenWidthDisplay");

        // Update the inner text of the <p> tag with the screen width value
        screenWidthDisplay.innerText = "Current screen width: " + screenWidth + "px";*/

        function validate(evt) {
            var theEvent = evt || window.event;

            // Handle paste
            if (theEvent.type === 'paste') {
                key = event.clipboardData.getData('text/plain');
            } else {
                // Handle key press
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
            }
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }
    </script>
</body>

</html>