{% extends "base.html" %}
{% block title %}Histórico{% endblock %}

{% block content %}

<body>

    <div class="container">
        <div class="tabela">
            <div class="historico">
                <h3>
                    Histórico
                </h3>

                <div
                    style="display: flex; width: 100%; flex-direction: row; justify-content: start; margin-block: 18px; gap: 12px;">


                    <form id="filterForm" style="margin-top: 6px;">

                        <label style="margin-left: 6px;  margin-right: 10px;"> | Filtrar Por Modo:</label>

                        <input type="radio" name="filterOption" value="all" id="allOption" checked>
                        <label for="allOption">Todos</label>

                        <input style="margin-left: 12px;" type="radio" name="filterOption" value="Registro Manual"
                            id="registromanualOption">
                        <label for="registromanualOption">Registro Manual</label>

                        <input style="margin-left: 12px;" type="radio" name="filterOption" value="Inventario"
                            id="registromanualOption">
                        <label for="registromanualOption">Inventario</label>

                        <input style="margin-left: 12px;" type="radio" name="filterOption" value="Compra"
                            id="comprasOption">
                        <label for="comprasOption">Compra</label>

                        <input style="margin-left: 12px;" type="radio" name="filterOption" value="Produção"
                            id="producaoOption">
                        <label for="producaoOption">Produção</label>
                    </form>

                    <div style="display: none;">
                        <label for="filterMonthYear">Filtrar Por Mês/Ano:</label>
                        <select id="filterMonthYear">
                            <option value="all" selected>Todos</option>
                            <!-- Months/years options will be populated dynamically -->
                        </select>
                    </div>



                </div>

                <script>
                    $(document).ready(function () {


                        // Get the value of filterOption from the URL query parameter
                        var filterOption = "{{ request.args.get('filterOption', 'all') }}";
                        // Set the radio input based on the filterOption value
                        $('input[type=radio][name=filterOption]').filter('[value="' + filterOption + '"]').prop('checked', true);

                        // Add event listener to radio inputs
                        $('input[type=radio][name=filterOption]').change(function () {
                            // Get the selected filter option
                            var filterOption = $(this).val();
                            // Redirect to the same page with the selected filter option as a query parameter
                            window.location.href = "/historico?filterOption=" + filterOption;
                        });
                    });
                </script>






                <div>
                    <table id="tabelaHistorico">
                        <thead>
                            <tr>
                                <th style="width: 5%;">
                                    Código
                                </th>
                                <th style="width: 5%;">
                                    Código MP
                                </th>
                                <th>
                                    Matéria Prima
                                </th>
                                <th>
                                    Data
                                </th>
                                <th>
                                    Modo
                                </th>
                                <th>
                                    Diferença
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if not historico %}
                            <tr class="semCompras">
                                <td colspan="7">
                                    <h3 style="font-weight: 300; color: lightgray; margin-block: 28px;">
                                        Sem Históricos</h3>
                                </td>
                            </tr>
                            {% endif %}
                            {% for hst in historico %}
                            <tr>
                                <td>
                                    {{hst.id_hst}}
                                </td>
                                <td>
                                    {{hst.id_mp}}
                                </td>
                                <td style="text-align: start; padding-left: 11px;">
                                    {{hst.nome_mp}}
                                </td>
                                <td>
                                    {{hst.date_change | custom_datetime_format2}}
                                </td>
                                <td>
                                    {{hst.modo_hst}}
                                </td>
                                <td
                                    style="color: {% if hst.difference_hst < 0 %}red{% elif hst.difference_hst > 0 %}#32c232{% endif %};">

                                    {{ '+' if hst.difference_hst > 0 else '' }}{{ hst.difference_hst }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <br>


                    <div id="pagination" style="display: flex; width: 100%; justify-content: end;">
                        <button class="btn-ferramentas" id="prev">Anterior</button>
                        <span style="margin-inline: 12px;" id="page"></span>
                        <button class="btn-ferramentas" id="next">Próximo</button>
                    </div>



                    <script>
                        const table = document.getElementById('tabelaHistorico');
                        const tbody = table.querySelector('tbody');
                        const rowsPerPage = 20;
                        let currentPage = 1;
                        let rows = tbody.querySelectorAll('tr'); // Initialize rows here

                        function showPage(page) {
                            const startIndex = (page - 1) * rowsPerPage;
                            const endIndex = Math.min(startIndex + rowsPerPage, rows.length);

                            for (let i = 0; i < rows.length; i++) {
                                if (i >= startIndex && i < endIndex) {
                                    rows[i].style.display = '';
                                } else {
                                    rows[i].style.display = 'none';
                                }
                            }

                            document.getElementById('page').textContent = `Pág ${page}`;

                            // Disable/enable buttons based on current page
                            document.getElementById('prev').disabled = (page === 1);
                            document.getElementById('next').disabled = (page === Math.ceil(rows.length / rowsPerPage));
                        }

                        function nextPage() {
                            if (currentPage < Math.ceil(rows.length / rowsPerPage)) {
                                currentPage++;
                                showPage(currentPage);
                            }
                        }

                        function prevPage() {
                            if (currentPage > 1) {
                                currentPage--;
                                showPage(currentPage);
                            }
                        }

                        showPage(currentPage);

                        document.getElementById('next').addEventListener('click', nextPage);
                        document.getElementById('prev').addEventListener('click', prevPage);
                    </script>




                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}