{% extends "base.html" %}
{% block title %}LABCT{% endblock %}

{% block content %}

<style>
    .content{
        width: 100vw;
        height: 80vh;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .iniciar{
        color: black;
    }
</style>

<div class="content">

    <h1>Bem-vindo ao LABCT {{ username }}!</h1>
    <a class="iniciar" href="">iniciar>></a>
    <a class="iniciar" href="/logout">Logout</a>

</div>
{% endblock %}
