{% extends "base.html" %}
{% block title %}Inventario{% endblock %}

{% block content %}

<style>
    .historico {
        margin-top: 15px;
    }

    .titulo {
        display: flex;
        flex-direction: row;

    }

    .titulo button {
        margin-left: 21px;
    }

    .hidden {
        display: none;
    }

    .digitarManual {
        display: flex;
        flex-direction: column;
    }

    .dateSelector {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    .topForm {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;
        width: 100%;
    }
</style>

<body>

    <div class="container">
        <div class="tabela">

            <div class="header">

                <div class="InventarioTitulo">
                    <h3>Inventário </h3>
                </div>



            </div>

            <div class="titulo">
                <div>
                    <h3>Estoque</h3>
                </div>
                <div class="ativarManual">
                    <button id="manualChangeBtn">Ativar Registro Manual</button>
                </div>
            </div>

            <br>

            <form action="/inventario" method="POST">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 5%;">
                                Codigo MP
                            </th>
                            <th>
                                Materia Prima
                            </th>
                            <th>
                                Unidade
                            </th>
                            <th>
                                Quantidade
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estq in estoque %}
                        <tr>
                            <td>
                                {{estq.id_mp}}
                            </td>
                            <td>
                                {{estq.nome_mp}}
                            </td>
                            <td>
                                {{estq.unidade_mp}}
                            </td>
                            <td>
                                <span class="quantity">{{estq.quantidade_estq}}</span>
                                <input min="0" type="number" step="0.001" name="quantidade_estq" id="quantidade_estq"
                                    value="{{estq.quantidade_estq}}" class="hidden">

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="display: flex;
                            justify-content: end;
                            margin-top: 24px;">
                    <button type="submit" id="submitButton" class="btn btn-dark hidden">Salvar Registro</button>
                </div>
            </form>

            <!-- Fazer Inventario Modal -->
            <div class="modal fade" id="fazerInventarioModal" role="dialog" aria-labelledby="editModalLabel"
                tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Fazer Inventário</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="margin-top: -22px !important;">

                            <hr>

                            <div class="topForm">
                                <form action="/salvar_inventario" method="post" style="min-width: 100%;">
                                    <label for="datePicker">Data do Inventário:</label>
                                    <input type="date" id="datePicker" name="datePicker" required>
                                    <table style="min-width: 100% !important;">
                                        <thead>
                                            <tr>
                                                <th>Selecionar</th>
                                                <th>ID</th>
                                                <th>MP</th>
                                                <th>Unidade</th>
                                                <th>Quantidade</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for mp in materiasprimas %}
                                            <tr>
                                                <td><input type="checkbox" name="selected_items" value="{{ mp.id_mp }}">
                                                </td>
                                                <td>{{mp.id_mp}}</td>
                                                <td>{{mp.nome_mp}}</td>
                                                <td>{{mp.unidade_mp}}</td>
                                                <td>________</td>

                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <button type="submit">Save</button>
                                </form>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="listaInventario">
                <br>
                <h3>Lista de Inventários</h3>
                <div style="display: flex; width: 100%; justify-content: end;">
                    <button type="button" data-toggle="modal" data-target="#fazerInventarioModal">Criar Novo
                        Inventário</button>
                </div>

                <form action="/inventario" method="get"> <!-- Update action URL to "/inventarios" -->
                    <select id="monthSelector" name="selected_month">
                        {% for month in available_months %}
                        {% if month == current_month %}
                        <!-- Set selected attribute for the current month -->
                        <option value="{{ month }}" selected>{{ month }}</option>
                        {% else %}
                        <!-- Regular option for other months -->
                        <option value="{{ month }}">{{ month }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit">Filtrar</button>
                </form>

                <table>
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Data Inventário</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invt in inventario %}
                        <tr>
                            <td>{{ invt.id_invt }}</td>
                            <td>{{ invt.data_invt  | datetimeformat }}</td>
                            <td>{{ invt.estado_invt }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <br>
                <hr>

                <div style="display: none;">
                    <form action="/inventario" method="get">

                        <select id="monthSelector" name="selected_month">
                            <option value="">Mes</option>
                            {% for month in available_months %}
                            <option value="{{ month }}">{{ month }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Filtrar</button>
                    </form>

                    <table>
                        <thead>

                            <tr>
                                <th style="width: 5%;">Inventario #</th>
                                <th>Data</th>
                                <th>Materia Prima</th>
                                <th>Quantidade</th>
                            </tr>

                        </thead>
                        <tbody>
                            {% for invtdados in invtdados %}

                            <tr>
                                <td>{{invtdados.id_invt}}</td>
                                <td>{{invtdados.data_invt | datetimeformat}}</td>
                                <td>{{invtdados.id_mp}}</td>
                                <td>{{invtdados.quantidade_invtdados}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>



            <div class="historico">
                <h3>
                    Histórico
                </h3>

                <div>
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 5%;">
                                    Codigo
                                </th>
                                <th style="width: 5%;">
                                    Codigo MP
                                </th>
                                <th>
                                    Matéria Prima
                                </th>
                                <th>
                                    Data
                                </th>
                                <th>
                                    Modo
                                </th>
                                <th>
                                    Diferença
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hst in historico %}
                            <tr>
                                <td>
                                    {{hst.id_hst}}
                                </td>
                                <td>
                                    {{hst.id_mp}}
                                </td>
                                <td>
                                    {{hst.nome_mp}}
                                </td>
                                <td>
                                    {{hst.date_change}}
                                </td>
                                <td>
                                    {{hst.modo_hst}}
                                </td>
                                <td
                                    style="color: {% if hst.difference_hst < 0 %}red{% elif hst.difference_hst > 0 %}#32c232{% endif %};">

                                    {{ '+' if hst.difference_hst > 0 else '' }}{{ hst.difference_hst }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


    </div>
</body>

<script>
    document.getElementById('manualChangeBtn').addEventListener('click', function () {
        var spans = document.querySelectorAll('.quantity');
        var inputs = document.querySelectorAll('input[type="number"]');
        var submitButton = document.getElementById('submitButton');
        for (var i = 0; i < spans.length; i++) {
            spans[i].classList.toggle('hidden');
        }
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].classList.toggle('hidden');
        }
        submitButton.classList.toggle('hidden');
    });
</script>


{% endblock %}