<!-- templates/login.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <title>login - LABCT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
</head>


<body>
    <main class="mainContainer" style="background-image: url('{{ url_for('static', filename='img/img1.jpg') }}');">


        <!-- <div class="decorImg" style="background-image: url('{{ url_for('static', filename='img/img1.jpg') }}');"></div> -->
        <div class="loginContainer">

            <object type="image/svg+xml" data="{{ url_for('static', filename='img/labct-logo.svg') }}"
                style="height: 350px; width: 180px;"></object>

            <div class="loginBox">

                <h1>Login</h1>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            <form action="/login" method="post">
                <div class="loginInput">
                    <label for="username">Usuario:</label>
                    <input type="text" id="username" name="username" placeholder="Usuario" required>
                </div>

                <div class="loginInput">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" placeholder="Senha" required>
                </div>

                <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />

                <button  style="margin-top: 16px;" class="loginBtn" type="submit">Entrar</button>

            </form>

            <!-- <p>Sem conta? <a href="/signup">Cadastrar</a></p> -->

            </div>

            


        </div>


    </main>

</body>

</html>