<!-- Navigation Links -->
<style>
  
</style>



<div class="menu">

    {% if role == 'admin' %}

    <nav class="navbar">
        <ul class="nav-menu">
            <li class="nav-item">
                <a  href="/filiais">Filiais</a>
            </li>
            <li class="nav-item">
                <a href="/planomestre">Plano Mestre</a>
            </li>
            <li class="nav-item">
                <a href="#">Materias Primas</a>
                <div class="submenu">
                    <a href="/fornecedores">Fornecedores</a>
                    <a href="/materiasprimas">Materias Primas</a>
                    <a href="/inventario">Inventario</a>
                    
                    
                    
                   
                </div>
            </li>
            <li class="nav-item">
                <a href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a href="#">Materias Primas</a>
            </li>
        </ul>
    </nav>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var navItems = document.querySelectorAll('.nav-item');
            console.log(navItems)
        
            navItems.forEach(function(item) {
                item.addEventListener('mouseenter', function() {
                    var submenu = item.querySelector('.submenu');
                    if (submenu) {
                        submenu.style.display = 'block';
                    }
                });
        
                item.addEventListener('mouseleave', function() {
                    var submenu = item.querySelector('.submenu');
                    if (submenu) {
                        submenu.style.display = 'none';
                    }
                });
            });
        });
    </script>
        
{% elif role == 'master' %} 

<nav class="navbar">
    <ul class="nav-menu">
        <li class="nav-item">
            <a  href="/filiais">Filiais</a>
        </li>

        <li class="nav-item">
            <a href="#">Materias Primas</a>
            <div class="submenu">
                <a href="/fornecedores">Fornecedores</a>
                <a href="/materiasprimas">Materias Primas</a>        
                <a href="/inventario">Estoque MP</a>        
               
            </div>
        </li>

        <li class="nav-item">
            <a  href="/compras">Compras</a>
        </li>

        <li class="nav-item">
            <a  href="/historico">Histórico</a>
        </li>

        <li class="nav-item">
            <a  href="/receitas">Receitas</a>
        </li>


        <li class="nav-item">
            <a  href="/produccao">Produção</a>
        </li>

        <li class="nav-item">
            <a  href="/planomestre">Plano Mestre</a>
        </li>


    
    </ul>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var navItems = document.querySelectorAll('.nav-item');
        console.log(navItems)
    
        navItems.forEach(function(item) {
            item.addEventListener('mouseenter', function() {
                var submenu = item.querySelector('.submenu');
                if (submenu) {
                    submenu.style.display = 'block';
                }
            });
    
            item.addEventListener('mouseleave', function() {
                var submenu = item.querySelector('.submenu');
                if (submenu) {
                    submenu.style.display = 'none';
                }
            });
        });
    });
</script>

{%endif%}
    


</div> 