<!-- Navigation Links -->
<span class="links">
    >>
    <a href="{{ url_for('fornecedores')}}" {% if request.path==url_for('fornecedores') %}class="active" {% endif
        %}>Fornecedores</a> /
    <a href="{{ url_for('materiasPrimas')}}" {% if request.path==url_for('materiasPrimas') %}class="active" {%
        endif %}>Materias Primas</a> /
    <a href="{{ url_for('clientes')}}" {% if request.path==url_for('clientes') %}class="active" {% endif
            %}>Clientes</a> /
    <a href="{{ url_for('receitas')}}" {% if request.path==url_for('receitas') %}class="active" {% endif
        %}>Receitas</a> 
</span>