<!-- Navigation Links -->
<style>
  
</style>



<div class="menu">

    {% if role == 'admin' %}

    <nav class="navbar">
        <ul class="nav-menu">
            <li class="nav-item">
                <a  href="/filiais">Filiais</a>
            </li>
            <li class="nav-item">
                <a href="/planomestre">Plano Mestre</a>
            </li>
            <li class="nav-item">
                <a href="#">Materias Primas</a>
                <div class="submenu">
                    <a href="/fornecedores">Fornecedores</a>
                    <a href="/materiasprimas">Materias Primas</a>
                    <a href="/inventario">Inventario</a>
                    
                    
                    
                   
                </div>
            </li>
            <li class="nav-item">
                <a href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a href="#">Materias Primas</a>
            </li>
        </ul>
    </nav>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var navItems = document.querySelectorAll('.nav-item');
            console.log(navItems)
        
            navItems.forEach(function(item) {
                item.addEventListener('mouseenter', function() {
                    var submenu = item.querySelector('.submenu');
                    if (submenu) {
                        submenu.style.display = 'block';
                    }
                });
        
                item.addEventListener('mouseleave', function() {
                    var submenu = item.querySelector('.submenu');
                    if (submenu) {
                        submenu.style.display = 'none';
                    }
                });
            });
        });
    </script>
        
{% elif role == 'master' %} 

<nav class="navbar">
    <div style="display: flex; align-items:center; width:auto;">
        <img src="{{ url_for('static', filename='img/mini-logo.png') }}" alt="My Image" style="color: white; max-height: 40px;  margin-left: 18px">

    </div>
    <ul class="nav-menu">
        <li class="nav-item">
            <a  href="/filiais">Filiais</a>
        </li>

        <li class="nav-item">
            <a href="#">Materias Primas</a>
            <div class="submenu">
                <a href="/fornecedores">Fornecedores</a>
                <a href="/materiasprimas">Materias Primas</a>        
                <a href="/inventario">Estoque MP</a>        
               
            </div>
        </li>

        <li class="nav-item">
            <a  href="/compras">Compras</a>
        </li>

        <li class="nav-item">
            <a  href="/historico">Histórico</a>
        </li>

        <li class="nav-item">
            <a  href="/receitas">Receitas</a>
        </li>


        <li class="nav-item">
            <a  href="/produccao">Produção</a>
        </li>

        <li class="nav-item">
            <a  href="/planomestre">Plano Mestre</a>
        </li>

        


    
    </ul>
    <a style="padding-block: 5px; padding-inline: 14px; font-size:13px; 
     color: white;
    border-radius:8px; border: 1px solid white;" href="/logout">Sair</a>
</nav>


<script>
    document.querySelectorAll('.nav-item').forEach(item => {
        item.addEventListener('mouseenter', event => {
            const submenu = event.currentTarget.querySelector('.submenu');
            const rect = submenu.getBoundingClientRect();

            if (rect.right > window.innerWidth) {
                submenu.style.left = `-${rect.right - window.innerWidth}px`;
            } else {
                submenu.style.left = '0';
            }
        });

        item.addEventListener('mouseleave', event => {
            const submenu = event.currentTarget.querySelector('.submenu');
            submenu.style.left = '0';
        });
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var navItems = document.querySelectorAll('.nav-item');
        console.log(navItems)
    
        navItems.forEach(function(item) {
            item.addEventListener('mouseenter', function() {
                var submenu = item.querySelector('.submenu');
                if (submenu) {
                    submenu.style.display = 'block';
                }
            });
    
            item.addEventListener('mouseleave', function() {
                var submenu = item.querySelector('.submenu');
                if (submenu) {
                    submenu.style.display = 'none';
                }
            });
        });
    });
</script>

{%endif%}
    


</div> 