{% extends "base.html" %}
{% block title %}Perfil{% endblock %}

{% block content %}

<body>
    <div class="container">
        <div class="tabela">
            <h3>Meu Perfil</h3>
            <hr>
            
            <br>
            <div>
                <h4>Minhas Lojas</h4>
                <div class="titleandbtn">
                    
                    <button style="margin-left: 12px ;" type="button" data-toggle="modal" data-target="#cadastrarFModal"
                        class="btn-cadastrar"> +
                        Cadastrar Nova Loja</button>
                </div>

            </div>

            <div class="table-responsive">
                <table style="margin-top: 25px;">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Código</th>
                            <th style="width: 45%;">Loja</th>
                            <th>Endereço</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>000</td>
                            <td>Loja</td>
                            <td>Endereço</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

{% endblock %}
