{% extends "base.html" %}
{% block title %}Filial{% endblock %}

{% block content %}

<body>
    <div class="container">
        <div class="tabela">
            <div class="header">

                <div style="display:flex; flex-direction: column; width:100%">
                    <h3>Plano Mestre</h3>

                    <p style="font-size: large;">Lista De Producoes Pendentes</p>

                    

                    {%for rct in receitas %}
                    {% if rct.contador_rct > 0 %}

                    <div style="border: 1px solid black; 
                    border-radius:12px;
                    padding: 18px;
                    display:flex;
                    flex-direction:column; margin-block: 15px;
                    ">

                    <div style="width: 100%;  display:flex; justify-content:space-between;">
                        <div>
                            
                            <h3>
                                <h5 style="font-weight: 600; font-size: 34px">{{rct.nome_rct}}</h5>
                            </h3>

                        </div>

                        <div style="display: flex; flex-direction:column; align-items:end;">
                            <h4>
                                Codigo:
                            </h4>
                            <h5 style="font-weight: 300;">{{rct.id_rct}}</h5>
                        </div>
                        

                    </div>

                    <div style="width: 100%; display:flex; justify-content:space-between;">

                        <div style="display: flex; justify-content:start">
                            <div style="margin-right: 35px;">
                                <h4>
                                    Classificacao:
                                </h4>
                                <h3>
                                    <h5 style="font-weight: 300;">{{rct.class_rct}}</h5>
                                </h3>
    
                            </div>
    
                            <div style="display: flex; flex-direction:column; ">
                                <h4>
                                    Departamento:
                                </h4>
                                <h5 style="font-weight: 300;">{{rct.departamento_rct}}</h5>
                            </div>

                        </div>

                        

                        <div style="display: flex; flex-direction:column; align-items:end;">
                            <h4>
                                Estoque Industria:
                            </h4>
                            <h5 style="font-weight: 300;">{{rct.estoque_rct}}</h5>
                        </div>
                        

                    </div>

                    <div style="border-bottom: 1px solid black; margin-block: 7px;"></div>

                    <h4>Pedidos></h4>

                    <br>
                    
                    <table>
                        <thead>
                            <tr>
                                <th>loja</th>
                                <th>quantidade</th>
                                <th>pedido total em un</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in processedData %}
                            <tr>
                                <td>{{ item.loja }}</td>
                                <td>{{ item.quantidade }}</td>
                                <td>{{ item.total }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                   

                    
                </div>

                {% endif %}
                    {% endfor %}






                    <!-- <button style="margin-left: 12px;" onclick="window.location.href='{{ url_for('rotas') }}'"  class="btn-cadastrar">+ Rotas</button> -->
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock %}