{% extends "base.html" %}
{% block title %}Producção{% endblock %}

{% block content %}

<style>
    @import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

    .hidden {
        display: none;
    }

    #tableContainer {
        transition: max-height 0.5s ease;
        overflow: hidden;
        max-height: 0;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .ferramentas {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-block: 9px;

    }

    .ativarManual {
        margin-left: 18px;
        align-self: center;
        margin-bottom: 12px;
    }

    #submitButton[disabled] {
        background-color: #ddd;
        /* Change background color */
        color: #888;
        /* Change text color */
        cursor: not-allowed;
        /* Change cursor to indicate unclickable */
        opacity: 0.6;
        /* Reduce opacity */
    }



    #filterForm input[type="radio"]:checked+label {
        text-decoration: underline;
        /* Add underline text decoration */
    }

    /* Hover style for enabled button */
    .btn-dark:not(.disabled):hover {
        /* Define the hover style here */
        /* For example, change background color */
        background-color: #555 !important;
    }




    table {
        width: 100%;
    }


    table th,
    table td {
        padding: 0.4em;
    }

    table.fold-table>tbody>tr.view td,
    table.fold-table>tbody>tr.view th {
        cursor: default;


    }

    table.fold-table>tbody>tr.view td:first-child,
    table.fold-table>tbody>tr.view th:first-child {
        position: relative;
        padding-left: 20px;
    }

    table.fold-table>tbody>tr.view td:first-child:before,
    table.fold-table>tbody>tr.view th:first-child:before {
        position: absolute;
        top: 50%;
        left: 20px;
        width: 9px;
        height: 16px;
        margin-top: -8px;
        font: 16px fontawesome;
        color: #999;
        content: "▼";

        transition: all 0.3s ease;
    }

    table.fold-table>tbody>tr.view:hover {
        background: #eeeeee;
        text-decoration: underline;
    }

    table.fold-table>tbody>tr.view.open {

        background: rgb(255, 230, 129);
        color: rgb(0, 0, 0);

        font-weight: 600;
        text-decoration: underline;
    }



    table.fold-table>tbody>tr.view.open td:first-child:before,
    table.fold-table>tbody>tr.view.open th:first-child:before {
        transform-origin: right;
        transform: rotate(180deg);
        color: #000000;


    }

    table.fold-table>tbody>tr.fold {
        display: none;
    }

    table.fold-table>tbody>tr.fold.open {
        display: table-row;
        background: rgb(255, 255, 255);
    }

    table.fold-table>tbody>tr.fold.open:hover {
        background-color: rgb(255, 255, 255);
        text-decoration: none;
    }


    .fold-content {
        padding-block: 18px;
        padding-inline: 18px;

    }

    /* Style for the disabled button */
    #fazerPedido[disabled] {
        background-color: #cccccc; /* Gray background */
        color: #999999; /* Light gray text color */
        cursor: not-allowed; /* Show disabled cursor */
        /* Add any other styles as needed */
    }
    /* Style for the disabled button hover*/
    #fazerPedido[disabled]:hover {
        background-color: #cccccc !important; /* Gray background */
        color: #999999; /* Light gray text color */
        cursor: not-allowed; /* Show disabled cursor */
        /* Add any other styles as needed */
    }
</style>

<body>

    <div class="container">
        <div class="tabela">
            <h3 style="margin-bottom: 25px;"> Produção </h3>
            <button id="expandBtn" class="btn-cadastrar"> + Fazer Novo Pedido De Produção</button>
            <div id="tableContainer" class="hidden">

                <div
                    class="wholeContainer"
                    style="display:flex; flex-direction: column; justify-content: flex-start; width: 100%; align-items: start; vertical-align: middle; border: 1px solid #aeaeae; padding: 38px; border-radius: 12px;">
                   
                    <div style="display:flex; flex-direction: row; width: 100%;">

                    
                        <div style="min-width: fit-content; display: flex; flex-direction: column;" >
                            <label style="margin-right: 12px; font-size: large;" for="receitas"> Seleccione Uma Receita:
                            </label>
                            <select name="receitas" id="receitas-select" style="padding: 8px 15px; /* Add padding to the select input */
                            font-size: 16px; /* Set font size */
                            border: 1px solid #ccc; /* Add border */
                            border-radius: 5px; /* Add border radius for rounded corners */
                            background-color: #f7f7f7; /* Set background color */
                            color: #333; /* Set text color */
                            cursor: pointer; /* Change cursor on hover */">
                                <option value="" selected disabled>--seleccione una receta: </option>
                                {% for receita in receitas %}
                                <option value="{{ receita.id_rct }}">{{ receita.nome_rct }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="ReceitaInfo" style="display: grid; grid-template-columns:  20% 55% 25% ; width: 90%;  gap: 15px; margin-left: 21px; border-left: 1px solid #aeaeae; padding-inline: 25px;">
                            <div style="display: none;">
                                <h1 class="receitaId"></h1>
                            </div>
                            

                            <div style="display: flex; flex-direction: column;">
                                <h2 class="receitaName"></h2>
                                <h3 style="font-size: medium;" class="receitaRendimento"></h3>
                                <div id="multContainer" style="display: none; flex-direction: column;">
                                    <label for="multiplicador">Quantidade:</label>
                                    <input name="multiplicador" type="number" value="1" id="mult-Select">
                                    <button style="margin-top: 12px;" onclick="showReceitaInfo()"
                                        class="btn-ferramenta">Atualizar Quantidade</button>
                                </div>

                            </div>



                            <div style="display: none; flex-direction: column; margin-top: 8px; border-left: 1px solid #aeaeae; padding-left: 25px;"
                                id="rctInfoContainer">


                                <h4>Ingredientes:</h4>
                                <table id="receitampsTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Quantidade/Receita</th>
                                            <th>Quantidade/Total</th>
                                            <th>Unidade</th>
                                            <th>Estoque</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>


                            </div>

                            <div style="display: none; flex-direction: column; margin-top: 8px; border-left: 1px solid #aeaeae; padding-left: 15px; width: 100%;"
                                id="estoqueInfoContainer">


                                <h4>Estoque:</h4>
                                <table id="estoqueTable" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Quantidade</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>


                            </div>

                            <script>
                                function showReceitaInfo() {
                                    var tableContainer2 = document.getElementById("tableContainer");

                                    var multSelect = document.getElementById("mult-Select");
                                    var multValue = multSelect.value;

                                    console.log(multValue);

                                    var button = document.getElementById("fazerPedido");

                                    // Show the button
                                    button.style.display = "block";

                                    var infoContainer = document.getElementById("rctInfoContainer");
                                    var estoqueContainer = document.getElementById("estoqueInfoContainer");
                                    var multContainer = document.getElementById("multContainer");

                                    var fullContainer = document.querySelector(".wholeContainer");

                                    infoContainer.style.display = "flex";
                                    estoqueContainer.style.display = "flex";
                                    multContainer.style.display = "flex";

                                    setTimeout(function () {
                                        var tableHeight = fullContainer.scrollHeight;

                                        tableHeight += 150;
                                        tableContainer2.style.maxHeight = tableHeight + "px";
                                    }, 5);

                                    var receitaSelect = document.getElementById("receitas-select");
                                    var selectedReceita = receitaSelect.value;
                                    // TODO: Fetch receita info based on selectedReceita and display it in the ReceitaInfo div

                                    var receitaId = document.querySelector(".receitaId");
                                    receitaId.textContent = selectedReceita;
                                    // Fetch receita info based on selectedReceita
                                    fetch('/get_recipe_info', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({ selected_recipe: selectedReceita })
                                    })
                                        .then(response => {
                                            if (!response.ok) {
                                                throw new Error('Network response was not ok');
                                            }
                                            return response.json();
                                        })
                                        .then(data => {
                                            var receitaName = document.querySelector("h2.receitaName");
                                            var receitaRendimento = document.querySelector("h3.receitaRendimento");
                                            var nomeReceita = data.nome;
                                            var rendimentoReceita = data.rendimento;
                                            receitaRendimento.innerHTML = "Rendimento: " + rendimentoReceita; // Display recipe yield
                                            receitaName.innerHTML = ">> " + nomeReceita; // Display recipe name
                                            console.log(nomeReceita);

                                            

                                            data.receitamps_info.forEach(receitamp => {
                                                // Find the corresponding item in estoque_info array
                                                var correspondingEstoque = data.estoque_info.find(estq => estq.id_mp === receitamp.id_mp);

                                                // If correspondingEstoque exists and its quantidade_estq is greater than receitamp.quantidade
                                                if (correspondingEstoque && correspondingEstoque.quantidade_estq > receitamp.quantidade * multValue) {
                                                    console.log(`ID_MP: ${receitamp.id_mp} - Quantidade: ${receitamp.quantidade * multValue} is less than Estoque: ${correspondingEstoque.quantidade_estq}`);
                                                    iconHtml = "<i class='fas fa-check-circle'></i>";
                                                    

                                                }else{
                                                    
                                                }
                                            });


                                            
                                            // Populate the receitamps table
                                            var receitampsTableBody = document.querySelector("#receitampsTable tbody");
                                            receitampsTableBody.innerHTML = ''; // Clear existing rows
                                            data.receitamps_info.forEach(receitamp => {
                                                var correspondingEstoque = data.estoque_info.find(estq => estq.id_mp === receitamp.id_mp);
                                                // Define a variable to hold the HTML for the icon
                                                var iconHtml = "";
                                                var iconColor = ""; // Add a variable to hold the color of the icon

                                                // If correspondingEstoque exists and its quantidade_estq is greater than receitamp.quantidade
                                                if (correspondingEstoque && correspondingEstoque.quantidade_estq > receitamp.quantidade * multValue) {
                                                    // Set the iconHtml to display the "ok" icon
                                                    iconHtml = "<i class='fas fa-check-circle'></i>"; // Adjust this to your icon's class or image
                                                    iconColor = "green"; // Set color to green
                                                    button.disabled = false;
                                                    
                                                } else {
                                                    // Set the iconHtml to display the "x" icon
                                                    iconHtml = "<i class='fas fa-times-circle'></i>"; // Adjust this to your icon's class or image
                                                    iconColor = "red"; // Set color to red
                                                    button.disabled = true;
                                                    
                                                }
                                                var multipliedValue = (receitamp.quantidade * multValue).toFixed(3);
                                                var row = `
                                                            <tr>
                                                                <td>${receitamp.id_mp}</td>
                                                                <td>${receitamp.nome_mp}</td>
                                                                <td style="color: blue; text-decoration: underline;">${receitamp.quantidade}</td>
                                                                <td style="color: blue; text-decoration: underline;">${multipliedValue}</td>
                                                                <td>${receitamp.unidade}</td>
                                                                <td style="color: ${iconColor};">${iconHtml}</td> <!-- Add color to the icon -->
                                                            </tr>
                                                        `;
                                                receitampsTableBody.innerHTML += row;
                                            });

                                            // Populate the estoque table
                                            var estoqueTableBody = document.querySelector("#estoqueTable tbody");
                                            estoqueTableBody.innerHTML = ''; // Clear existing rows
                                            data.estoque_info.forEach(estoque => {
                                                var row = `
                                                            <tr>
                                                                
                                                                <td >${estoque.nome_mp}</td>
                                                                <td style="color: blue; text-decoration: underline;">${estoque.quantidade_estq}</td>
                                                                
                                                            </tr>
                                                        `;
                                                estoqueTableBody.innerHTML += row;
                                            });

                                            // You can also display other recipe info as needed
                                        })
                                        .catch(error => {
                                            console.error('Fetch error:', error);
                                        });
                                }



                                document.getElementById("receitas-select").addEventListener("change", showReceitaInfo);
                                //document.getElementById("mult-Select").addEventListener("change", showReceitaInfo);
                            </script>
                        </div>

                    </div>

                    

                    <div style="display: flex; width: 100%;  justify-content: end; border-top: 1px solid #aeaeae; margin-top: 35px;">
                        <button style="width: 160px; margin-top: 18px; display: none;" class="btn btn-dark" disabled id="fazerPedido">Fazer Pedido</button>
                    </div>

                </div>
                
            </div>

            <hr>
            <hr>

            <div class="listaPedidos" style="margin-top: 12px;">
                <h4> Pedidos De Produção Pendentes</h4>
                <table id="myTable" class="fold-table parent-table">
                    <thead>
                        <tr>
                            <th style="width: 5%;">código</th>
                            <th>Data</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if not producPendente %}
                        <tr class="semCompras">
                            <td colspan="3">
                                <h3 style="font-weight: 300; color: lightgray; margin-block: 28px;">Sem Pedidos De
                                    Produção
                                    Pendentes</h3>
                            </td>
                        </tr>
                        {% endif %}
                        {% for produc in producPendente %}
                        <tr class="view">
                            <td>{{ produc.id_pdc }}</td>
                            <td>{{ produc.data_pdc | datetimeformat2 }}</td>
                            <td style="background-color: #f0f945; color: red; text-decoration: underline; width: 12%;">
                                {{ produc.estado_pdc }}</td>
                        </tr>

                        <tr class="fold">
                            <td colspan="3">
                                <div class="fold-content">

                                    <form id="myForm" action="/fechar_pdc" method="POST">

                                        <table id="tabelaProducPendente_{{ produc.id_pdc }}" style="margin-top: 12px;">
                                            <thead>
                                                <tr>

                                                    <th style="width: 5%;">Código</th>
                                                    <th style="width: 5%;">Código Da Receita</th>
                                                    <th>Matéria Prima</th>
                                                    <th>Quantidade</th>
                                                    <th>Unidade</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for pdcd in producDados %}
                                                {% if pdcd.id_pdc == produc.id_pdc %}
                                                <tr>

                                                    <td>{{ pdcd.id_pdc }}</td>
                                                    <td>{{ pdcd.id_rct }}</td>
                                                    <td>{{ pdcd.nome_mp }}</td>
                                                    <td>{{ pdcd.quantidade_pdcd }}</td>
                                                    <td>{{ pdcd.unidade_pdcd }}</td>
                                                    <input type="hidden" name="nome_mp[]" value="{{ pdcd.nome_mp }}">
                                                    <input type="hidden" name="id_pdc[]" value="{{ pdcd.id_pdc }}">
                                                </tr>


                                                {% endif %}
                                                {% endfor %}

                                            </tbody>
                                        </table>



                                        <div style="display: flex;
                                                justify-content: end;
                                                margin-block: 24px;
                                                margin-inline: 3px;
                                                height: 35px !important;">
                                            <button type="submit" id="submitButton_{{ produc.id_pdc }}"
                                                class="btn btn-dark"> Fechar Pedido De Produção</button>
                                        </div>

                                    </form>

                                </div>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="listaPedidos" style="margin-top: 44px;">
                <h4> Pedidos De Produção Fechados</h4>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 5%;">código</th>
                            <th>Data</th>
                            <th style="width: 12%;">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if not producFechado %}
                        <tr class="semCompras">
                            <td colspan="3">
                                <h3 style="font-weight: 300; color: lightgray; margin-block: 28px;">Sem Pedidos De
                                    Produção
                                    Fechados</h3>
                            </td>
                        </tr>
                        {% endif %}
                        {% for produc in producFechado %}
                        <tr>
                            <td>{{ produc.id_pdc }}</td>
                            <td>{{ produc.data_pdc | datetimeformat2 }}</td>
                            <td>{{ produc.estado_pdc }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            $('input[type="checkbox"]').click(function () {
                var anyChecked = $('input[type="checkbox"]:checked').length > 0;
                if (anyChecked) {
                    $('#submitButton').prop("disabled", false).removeClass("disabled");
                } else {
                    $('#submitButton').prop("disabled", true).addClass("disabled");
                }

                // Ensure only one checkbox is selected
                var checked = $(this).prop("checked");
                if (checked) {
                    $('input[type="checkbox"]').prop("checked", false);
                    $(this).prop("checked", true);
                }
            });
        });
    </script>

    <script>
        document.getElementById("expandBtn").addEventListener("click", function () {
            var tableContainer = document.getElementById("tableContainer");
            if (tableContainer.classList.contains("hidden")) {
                tableContainer.classList.remove("hidden");
                setTimeout(function () {
                    tableContainer.style.maxHeight = tableContainer.scrollHeight + "px";
                }, 10);
            } else {
                tableContainer.style.maxHeight = null;
                tableContainer.classList.add("hidden");
            }
        });
    </script>

    <script>
        $(function () {
            $(".fold-table tr.view").on("click", function () {
                // Close all other open rows
                $(".fold-table tr.view").not(this).removeClass("open");
                $(".fold-table tr.fold.open").not($(this).next(".fold")).removeClass("open");

                // Toggle the class for the clicked row and its corresponding fold
                $(this).toggleClass("open");
                $(this).next(".fold").toggleClass("open");

                // Get the target component relative to the clicked row
                const targetElement = $(this).next(".fold").find(".target-component");

                // Scroll to the target component
                scrollToComponent(targetElement);
            });
        });

        function scrollToComponent(targetElement) {
            // Calculate the target scroll position
            // Adjust this value to set the space at the top
            const offset = 40;
            const targetScrollPosition = targetElement.offset().top - offset;

            // Scroll to the target position
            window.scrollTo({
                top: targetScrollPosition,
                behavior: 'smooth' // Optional: Use smooth scrolling
            });
        }
    </script>

</body>


{% endblock %}